<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Apelido</th>
        <th scope="col">Marca - Modelo</th>
        <th scope="col">Placa</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listaCaminhoes">
        <th scope="row">{{c.apelido}}</th>
        <td>{{c.marca}} - {{c.modelo}}</td>
        <td>{{c.placa}}</td>
        <td>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row d-flex justify-content-center">
    <div class="form-group">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="limparFormulario();">
        Adicionar Caminhão
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="formulario" novalidate (ngSubmit)="salvarCaminhao()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastro de Caminhões</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="!this.sucesso">
          <div class="form-row">
            <div class="form-group col-md-12">
              <select class="form-control" formControlName="marca">
                <option value="">Selecione uma opção</option>
                <option value="iveco">Iveco</option>
                <option value="scania">Scania</option>
                <option value="mercedes">Mercedes-Benz</option>
                <option value="man">MAN</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="Modelo" autocomplete="off" formControlName="modelo">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Placa" autocomplete="off" formControlName="placa" [textMask]="{mask: maskPlaca, guide: false}">
              <small *ngIf="this.placaExiste" class="form-text text-danger">Placa já cadastrada</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <input type="text" class="form-control" placeholder="Ano" autocomplete="off" formControlName="ano" [textMask]="{mask: maskAno, guide: false}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="Apelido" autocomplete="off" formControlName="apelido">
            </div>
          </div>
          <br />
        </div>
        <div class="modal-body" *ngIf="this.sucesso">
          <div class="row d-flex justify-content-center">
            <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 100px; color:#0a8326"></i>
            <br>
          </div>
          <p style="text-align:center;">Caminhão cadastrado com sucesso!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" [disabled]="this.formulario.invalid" *ngIf="!this.sucesso">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>