<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <form [formGroup]="formulario" novalidate (ngSubmit)="salvarViajem()">
    <h5>Cadastro de Viajens</h5>
    <div class="containerFormulario">
      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" class="form-control" placeholder="Motorista" formControlName="motorista" />
          <!-- <ul class="list-group" style="position:absolute">
            <li class="list-group-item" *ngFor="let result of ofertas | async">
              <a [routerLink]="['/oferta',result.id]" (click)="LimparPesquisa()">
                {{result.titulo | textoReduzido:15}}
              </a>
            </li>
          </ul> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <select class="form-control" formControlName="caminhao">
            <option value="">Selecione um Caminhão</option>
            <option *ngFor="let c of caminhoes" [value]="c.key">{{c.placa}} - {{c.apelido}}</option>
          </select>
        </div>
      </div>
      <br />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="this.formulario.invalid">Salvar</button>
  </form>
</div>